{% extends 'blog/base.html' %}
{% block content %}
{% load static %}


<header class='masthead'>
  <p class='masthead-intro'>Hi I'm</p>
  <h1 class='masthead-heading'>Ashwin!</h1>
</header>
<section class="introduction-section">
    <h1>Introduction</h1>
    <p>I am a self made webdeveloper and programmer, currently studying in School</p>
    <p>I love the internet, technology, and building beautiful things.</p>
</section>
<hr>
<section class="location-section">
    <h1>Where I'm From</h1>
    <p>I'm originally from Tamilnadu, Chennai </p>
</section>

<section class="questions-section">
    <h1>More About Me</h1>
    <h2>What are your favorite hobbies?</h2>
    <p>My favorite hobby is building new python programmes.</p>
    <h2>What's your dream job?</h2>
    <p>My dream job is to become a Data Analysit.</p>
    <h2>Which is your dream University?</h2>
    <p>I wish to join sastra university, Tanjore.</p>
    <h2>Why do you want to be a web developer and programmer?</h2>
    <p>Because programming is awesome and programming for the internet is even more awesome.</p>
</section>
<hr>
<footer class="content-footer">
    <h5>Say hi to me on these social networks:&nbsp; <a class="css-is-deranged" style = "color:white" href="https://github.com/ahn1305" target = "_blank"><br>GitHub</h5>

</footer>

{% endblock content %}